/* * * * * * */
/* **FONTS** */
/* * * * * * */
.freckle-face-regular {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
/* * * * * * */
/*  *GLOBAL*  */
/* * * * * * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}