/* * * * * * */
/* **FONTS** */
/* * * * * * */
.freckle-face-regular {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* * * * * * */
/*  *GLOBAL*  */
/* * * * * * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    display: flex;
}

/* * * * * * */
/*MAIN CONTENT*/
/* * * * * * */
.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-row,
.middle-row,
.bottom-row {
    height: 33.33vh;
    width: 70vw;
}

.top-row {
    background-color: beige;
}

/* .middle-row {

} */

.bottom-row {
    background-color: rgb(50, 50, 42);
}

/* * * * * * */
/*  *SIDEBAR*  */
/* * * * * * */

.sidebar {
    background-image: url("./earth-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(6vh + 2rem) 0;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.297);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.logo-container h1 {
    font-family: "Lilita One";
    font-size: 7rem;
    color: white;
}