/* * * * * * */
/*FORM STYLE RESETS*/
/* * * * * * */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;

    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main styles */

input {
    display: block;
    width: 30rem;
    height: 3rem;
    border: rgb(86, 86, 86) solid 2px;
    border-radius: 0.5rem;
}

input:focus {
    border: rgb(113, 159, 194) solid 1px;
}

input::placeholder {
    padding: 2rem 0 0 1rem;
    font-size: 1.3rem;
}

fieldset {
    border: none;
    position: relative;
    top: 80;

    margin: 0;
    padding: 0 0 0 0;
}

legend {
    margin: 1rem 0 0 3rem;
    font-size: 4rem;
}

form label {
    padding: 1rem 0;
    font-size: 2rem;
}

/* container that holds the .left-side form container and the .right-side form container  */
.form-side-container {
    margin: 1rem 3rem;

    display: flex;
    gap: 10vh;
}

/* .left-side container and .right-side container */
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
