/* * * * * * */
/* **VARS** */
/* * * * * * */
:root { 
    --outer-bg: #f9fafb;
    --main-bg: white;
}


/* * * * * * */
/* **FONTS** */
/* * * * * * */
.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  


/* * * * * * */
/*  *GLOBAL*  */
/* * * * * * */

html, body {
    height: 100%;
    overflow: hidden;
    font-size: 10px;
}

body {
    display: flex;
}

/* * * * * * */
/*MAIN CONTENT*/
/* * * * * * */
.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-row,
.bottom-row {
    height: 35vh;
    width: 60vw;
}

.top-row {
    background-color: var(--outer-bg);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    padding: 3vh 40vh 2vw 3vh;
    gap: 2rem;
}

.top-row p, .top-row p em, .top-row p span {
    font-size: min(2vw, 3rem);
    font-family: "Rowdies";
    font-weight: 300;
}

.top-row span {
    border-bottom: 1px solid black;
}

.middle-row {
    height: 30vh;

    
    background-color: var(--main-bg);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1; /* make sure middle row is stacked on top */
}

.bottom-row {
    background-color: var(--outer-bg);
}

/* * * * * * */
/*  *SIDEBAR*  */
/* * * * * * */

.sidebar {
    background-image: url("../earth-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 100vh;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25vh;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.58);

    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-container h1 {
    font-family: "Rowdies";
    font-weight: 300;
    font-size: 5vw;
    letter-spacing: 0.5rem;
    color: rgb(255, 255, 255);
}

.sidebar p, .sidebar p a {
    color: white;
    font-size: 2rem;

}

